<html>
  <head>
    <title>DevelopingKuma's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href = "/">Welcome to DevelopingKuma's Blog</a></h1>
    </div>
    {% for post in posts %}
      <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href ="">{{ post.title}}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
      </div>
    {% endfor %}
    <div>
      <p>published: Nov 16 2019</p>
      <h2><a href = "">My second post</a></h2>
      <p>have fun</p>
    </div>
  </body>
</html>
